ADMIN_EMAIL=professor@example.edu
DEFAULT_QUESTION_TIME=20
DEFAULT_COUNTDOWN_TIME=5
DEFAULT_MAX_POINTS=10
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
SECRET_KEY=change-me-very-long-random-string
BASE_URL=http://localhost:5173
DATABASE_URL=sqlite:///./quiz.db
ACCESS_TOKEN_EXPIRE_MINUTES=720
ALLOWED_EMOJIS=☀️ ☁️ ☂️ ☃️ ☄️ ☎️ ☔️ ☕️ ☘️ ☠️ ⚒️ ⚓️ ⚔️ ⚕️ ⚖️ ⚗️ ⚙️ ⚛️ ⚜️ ⚽️ ⚾️ ⛄️ ⛅️ ⛈️ ⛏️ ⛑️ ⛓️ ⛩️ ⛪️ ⛰️ ⛱️ ⛲️ ⛳️ ⛴️ ⛵️ ⛷️ ⛸️ ⛹️ ⛺️ ⛽️ ✈️ ✉️ ✨️ 🌍 🌮 🌰 🌱 🌲 🌳 🌴 🌵 🌶️ 🌷 🌸 🌹 🌺 🌻 🌼 🌽 🌾 🌿 🍀 🍁 🍂 🍃 🍄 🍅 🍇 🍈 🍉 🍊 🍋 🍍 🍎 🍏 🍐 🍒 🍓 🍔 🍕 🍖 🍗 🍘 🍙 🍚 🍛 🍜 🍝 🍞 🍟 🍠 🍡 🍢 🍣 🍤 🍥 🍦 🍧 🍨 🍩 🍪 🍫 🍬 🍭 🍮 🍯 🍰 🍱 🍲 🍳 🍴 🍵 🍶 🍷 🍸 🍹 🍺 🍻 🍼 🍽️ 🍾 🍿 🎀 🎁 🎂 🎃 🎄 🎅 🎆 🎇 🎈 🎉 🎊 🎋 🎌 🎍 🎎 🎏 🎐 🎑 🎒 🎓 🎖️ 🎗️ 🎙️ 🎚️ 🎛️ 🎞️ 🎟️ 🎠 🎡 🎢 🎣 🎤 🎥 🎧 🎨 🎩 🎪 🎫 🎬 🎭 🎮 🎯 🎰 🎱 🎲 🎳 🎴 🎵 🎶 🎷 🎸 🎹 🎺 🎻 🎼 🎽 🎾 🎿 🏀 🏁 🏂 🏃 🏄 🏅 🏆 🏇 🏈 🏊 🏋️ 🏌️ 🏍️ 🏎️ 🏏 🏐 🏑 🏒 🏓 🏔️ 🏕️ 🏖️ 🏗️ 🏘️ 🏙️ 🏛️ 🏜️ 🏝️ 🏞️ 🏟️ 🏠 🏸 🏹 🐁 🐇 🐈 🐉 🐊 🐋 🐌 🐍 🐐 🐑 🐒 🐓 🐔 🐕 🐖 🐗 🐘 🐙 🐚 🐛 🐜 🐝 🐞 🐟 🐢 🐣 🐤 🐥 🐨 🐩 🐪 🐬 🐳 🐾 🐿️ 👀 👑 👒 👓 👔 👕 👖 👗 👘 👻 👽 👾 👿 💈 💐 📷 🔑 🔒 🔔 🖨️ 🗿 🚀 🚁 🚂 🚗 🚠 🚤 🛵 🛸 🛹 🛼 🥁 🥂 🥌 🥍 🥎 🥐 🥑 🥗 🥜 🥝 🥞 🥟 🥦 🦀 🦄 🦋 🦦 🧀 🧁 🧊 🧲 🧳 🧴 🧵 🪐 🪑
